<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class = "details content">
        <h2><%= chat.title %></h2>
        <div class = "content" >
            <p><%= chat.body %></p>
        </div>
        <a class = "delete" data-doc="<%= chat._id%>">delete</a>
    </div>
    <%- include('./partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (x) => {
            const endpoint = `/chats/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location = data.redirect)
            .catch((err) => {
            console.log(err)
        })
        })

        
    </script>
</body>


</html>